body {
	background-image: -webkit-linear-gradient(#F0EAD6, #F0EAD6, #F0EAD6);
	background-repeat: none;
	background-attachment: fixed;
}

#ir-arriba {
	font-size: 20px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	transition: all 0.3s ease;
	z-index: 9999;
}

#ir-arriba:hover {
	transform: translateY(-10px);
	font-weight: 900;
}

header {
	justify-content: center;
	align-items: center;
}

.foto {
	width: 150px;
	box-shadow: #D2B48b 2px 2px 4px 4px, #bb9769 2px 2px 4px 4px inset;
	padding: 1px;
	float: left;
	margin: 0 auto;
	margin-left: 15px;
	border-radius: 10px;
}

#presentacion {
	justify-content: center;
	width: 100%;
	margin-top: 10px;
}

h1 {
	font-weight: bold;
	font-size: 60px;
	padding: 5px;
	text-align: center;
	margin: auto;
	vertical-align: middle;
	font-family: 'Zilla Slab', serif;
}

.descripcion {
	font-weight: bold;
	font-size: 40px;
	padding: 5px;
	text-align: center;
	margin: auto;
	vertical-align: middle;
	font-family: 'Zilla Slab', serif;
}
	
nav {
	margin-top: 20px;
	margin: auto;
	background-color: #3b70ec;
}

nav ul {
	border: 1px solid black;
	margin-top: 20px;
	font-size: 25px;
	font: bold;
	text-align: center;
	padding: 5px 2px 5px 2px;
	word-spacing: 8px;

}

.navegacion {
	display: inline;
	text-align: center;
	padding: 5px;
}

.navegacion a {
	padding: 5px;
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-weight: 900;
	margin: auto;
}


.navegacion:hover {
	border: 1px solid black;
	box-shadow: 2px 2px 2px 2px black;
	font-weight: bold;
}

main {
	display: flex;
}

article {
	flex: 1;
}

aside {
	margin-top: 15px;
	width: 20%;
	position: relative;
	left: 20px;
	line-height: 1.5;
	font-weight: bold;
}

aside a:hover {
	font-style: italic;
	font-size: 1.1em;
	background-color: #cccccc;
}

.resumen {
	margin: 25px auto;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	font-family: 'Zilla Slab', serif;
}



.resumen-profesional {
	width: 60%;
	position: relative;
	width: auto;

}

.resumen-profesional p {
	margin: auto;
	width: 80%;
	text-align: center;
	font-size: 20px;
}

.aptitudes li::before {
	content: '✔.-';
}


.certificados {
	margin: auto;
	padding: 5px;
	width: 80%;
	text-align: center;
}

pre {
	font-size: 1.2em;
}

pre::first-line {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	font-size: 1.2em
}

footer {
	justify-content: center;
	align-content: center;
	width: 100%;
	background-color: #cccccc;
	padding: 20px;
	margin-top: 50px;
}

footer p {
	font-family: 'Zilla Slab', serif;
	font-size: 30px;
	padding: 10px;
	text-align: center;
}

#footer {
	text-align: center;

}

#footer img {
	height: 30px;
	margin: 0 10px 0 10px;
}

.copy {
	margin: 20px auto;
	position: relative;
	text-align: center;
}

/* Aca van los elementos para la responsividad*/

@media screen and (max-width: 768px) {
	body {
		width: 100%;
	}

	main {
		flex-direction: column;
	}

	#formacion-ac {
		align-content: left;
	}

	aside {
		width: 100%;
		position: static;
		margin-left: 5px;
	}

	#ir-arriba {
		right: 40px;
		bottom: 10px;
	}

	footer {
		height: 130px;
	}

	#footer {
		margin-bottom: 20px;
	}

	.copy {
		margin-top: 20px;
		position: relative;
	}
}